@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3f3f46;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #facc15;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937;
}

body::-webkit-scrollbar-track {
  background-color: #c0c0c0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #facc15;
}

input,
select {
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #1f2937;
  font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  color: #fff;
}
article div p {
  text-align: center;
  color: #fff;
}
article div img {
  text-align: center;
  width: 200px;
  height: 200px;
}

.header {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
  background-color: #1f2937;
  margin-bottom: 50px;
  padding-bottom: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #facc15;
}
.header__inner h1 {
  padding: 20px 0;
}
.header__inner .favorites {
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #facc15;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.header__inner .favorites span {
  margin-left: 10px;
  font-size: 16px;
  font-family: "Bebas Neue", cursive, serif;
}
.header__inner .favorites:hover {
  background-color: #facc15;
  color: #1f2937;
}

.search {
  display: grid;
  grid-template-columns: 6fr repeat(2, 2fr) 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 50px;
}
@media screen and (max-width: 960px) {
  .search {
    display: block;
  }
}

.search__item {
  height: 80px;
}
.search__item label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 526px) {
  .search__item:first-child {
    margin-bottom: 20px;
  }
}

.results {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive, serif;
}

.results__title {
  letter-spacing: 4px;
}

span {
  font-size: 24px;
  letter-spacing: 2px;
}

.content {
  padding: 20px 0;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media screen and (max-width: 768px) {
  .users {
    justify-content: center;
  }
}

.user__card_img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.user__card_img img {
  width: 100%;
  border-radius: 5px;
}

.user__card_name {
  width: 100%;
  text-align: center;
  color: #1f2937;
  background-color: #facc15;
}

.user__card_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__card {
  padding: 20px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Bebas Neue", cursive, serif;
  letter-spacing: 2px;
}
@media screen and (max-width: 1150px) {
  .user__card {
    width: fit-content;
  }
}
@media screen and (max-width: 526px) {
  .user__card {
    width: 80%;
  }
}
@media screen and (max-width: 370px) {
  .user__card {
    width: 100%;
  }
}

.user__card_add {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #facc15;
  transition: 0.3s;
}
.user__card_add:hover {
  background-color: #facc15;
  color: #1f2937;
}
.user__card_add.active {
  background-color: red;
}

.user__card_repos {
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #facc15;
  transition: 0.3s;
}
.user__card_repos:hover {
  background-color: #facc15;
  color: #1f2937;
}

.user__card_git {
  text-align: center;
  position: relative;
}
.user__card_git:hover {
  width: 100%;
}
.user__card_git:hover::after {
  transition: all 0.3s;
  width: 100%;
  content: "";
  position: absolute;
  background-color: #facc15;
  height: 2px;
  bottom: 0;
  left: 0;
}

.pagination__items {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin: 20px auto;
  color: #facc15;
}

.pagination__item {
  cursor: pointer;
}

.pagination__item_input {
  width: 100px;
}

/* Стили для основного блока Preloader */
.preloader {
  /* Фиксируем блок на всю ширину и высоту окна, чтобы перекрывать все остальные элементы */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* Центрируем анимацию Preloader */
  display: flex;
  align-items: center;
  justify-content: center;
  /* При загрузке страницы, Preloader сразу отображается */
  opacity: 1;
  visibility: visible;
  /* Добавляем затемнение */
  /* Добавляем плавный переход */
  transition: opacity 1s, visibility 0s 0s;
}

/* Класс для скрытия Preloader */
.preloader_hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 0s 1s;
}

/* Скопированый код анимации Preloader */
.sk-chase {
  width: 128px;
  height: 128px;
  position: relative;
  -webkit-animation: sk-chase 2.5s infinite linear both;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: sk-chase-dot 2s infinite ease-in-out both;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #facc15;
  border-radius: 100%;
  -webkit-animation: sk-chase-dot-before 2s infinite ease-in-out both;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

@-webkit-keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
.error__block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error__message {
  width: 400px;
  height: 200px;
  background-color: #1f2937;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 2px solid #facc15;
  box-shadow: 5px 5px 50px #fff;
  color: #facc15;
  font-weight: bold;
  flex-direction: column-reverse;
}

.error__message_text {
  text-align: center;
  margin-bottom: 50px;
}

.error__btn {
  width: 100%;
  align-self: flex-end;
  color: #facc15;
  padding: 20px 40px;
  background-color: #facc15;
  cursor: pointer;
  position: relative;
}
.error__btn::after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  content: "OK";
  color: #1f2937;
}

.user__item_head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #1f2937;
  border-radius: 5px;
}
@media screen and (max-width: 526px) {
  .user__item_head {
    display: block;
    padding: 10px;
  }
}

.user__item_about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  flex-grow: 1;
  row-gap: 20px;
}
@media screen and (max-width: 526px) {
  .user__item_about {
    text-align: center;
  }
}

.user__item_img {
  text-align: center;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 526px) {
  .user__item_img {
    margin: 0 auto;
  }
}
.user__item_img img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
@media screen and (max-width: 526px) {
  .user__item_img img {
    text-align: center;
  }
}

.user__item_link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  row-gap: 20px;
}
@media screen and (max-width: 526px) {
  .user__item_link {
    display: block;
    margin: 0 auto;
  }
}
.user__item_link a {
  text-transform: uppercase;
  position: relative;
}
.user__item_link a:hover::after {
  content: "";
  position: absolute;
  width: fit-content;
  height: 2px;
  background-color: #facc15;
  width: 100%;
  bottom: 0;
  left: 0;
}

.user__item_name {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  text-align: center;
  font-size: 24px;
}
@media screen and (max-width: 526px) {
  .user__item_name {
    display: block;
    margin: 0 auto;
  }
}

.user__item_title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.user__item_repos {
  background-color: red;
  padding: 10px;
}
.user__item_repos .user__item_repos-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user__item_info {
  margin: 20px 0;
  font-size: 32px;
}

.repos__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.repos__list_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 30px;
  background-color: #1f2937;
  padding: 30px 20px;
  border-radius: 5px;
}
.repos__list_item a {
  position: relative;
}
.repos__list_item a:hover::after {
  content: "";
  background-color: #facc15;
  width: 100%;
  position: absolute;
  height: 2px;
  bottom: -2px;
  left: 0;
}

.add__favourites {
  margin-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 526px) {
  .add__favourites {
    margin: 20px auto;
    text-align: center;
  }
}

.add__favourites_btn {
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #facc15;
  border-radius: 5px;
  transition: 0.3s;
}
.add__favourites_btn:hover {
  background-color: #facc15;
  color: #1f2937;
}

.favourites__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.favourites__title {
  margin: 20px 0 40px;
}

.favourite__user {
  background-color: #1f2937;
  display: flex;
  height: 200px;
  justify-content: space-between;
  border-radius: 5px;
}

.favourite__user_img {
  width: 200px;
  height: 200px;
}
.favourite__user_img img {
  width: 100%;
  border-radius: 5px;
}

.favourite__user_info {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favourite__user_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.favourite__user_name {
  font-size: 24px;
  color: #facc15;
}

.favourite__user_favourite {
  border: 2px solid #facc15;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: red;
}
.favourite__user_favourite.active {
  background-color: #facc15;
  color: #1f2937;
}
.favourite__user_favourite:hover {
  background-color: #facc15;
  color: #1f2937;
}

.favourite__user_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favourite__user_git {
  text-decoration: none;
  color: #facc15;
  position: relative;
}
.favourite__user_git:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #facc15;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.favourite__user_link {
  cursor: pointer;
  color: #facc15;
  background-color: #1f2937;
  border-radius: 5px;
  position: relative;
}
.favourite__user_link:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #facc15;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.add__favourites_btn.active {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
