.search{
  display: grid;
  grid-template-columns: 6fr repeat(2, 2fr) 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  align-items: center;
  font-family:  sans-serif;
  margin-bottom: 50px;
  @include large{
    display: block;
  }
}
.search__item{
  height: 80px;
  label{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include large{
      margin: 10px 0;
    }
  }
  @include small{
    &:first-child{
      margin-bottom: 20px;
    }
  }
}
.search__wrapper{
}
